@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

}
@font-face {
    font-family: 'Minsk';
    src: url('../fonts/Minsk-regular.otf');
}

/*CSS normalize*/

html {
	font-family: 'Minsk', sans-serif, serif; 
	font-size: 14px;
	color: #333;
	-ms-text-size-adjust: auto; 
	-webkit-text-size-adjust: auto%; 
}

body {
	margin: 0;
}

/* The correct display in IE 9 */

article, aside, footer, header, nav, section {
  display: block;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; 
  -webkit-text-decoration-skip: objects; 
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/*============================================*/

.container {
	height: 100vh;
/*    width: 70%;*/
    margin: 0 auto;
    display: flex;
	flex-direction: column;
    box-sizing: border-box;
    background: rgba(243, 255, 244, 0.9);

}

header {
	line-height: 1.5em;
	border-bottom: 1px solid #fff;
}

.logo {
	padding-left: 10px;
	line-height: 1.5em;
	width: 270px;
	cursor: pointer;
	text-transform: uppercase;
}

.logo a, .row-content a {
	text-decoration: none;
	color: rgba(115, 127, 116, 1);
}

.logo a:hover, .row-content a:hover {
	background-color: rgba(255, 255, 255, .5);
	text-shadow: 5px;
}

.row-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.row-content a {
	align-self: center;
	font-size: 3em;
	width: 46%;
	padding: 2%;
	margin: 2%;
}
